@* @model IEnumerable<CollegeWebApplication.Models.Student> *@
    @model CollegeWebApplication.Models.StudentGroupViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        <select asp-for="StudentGroup" asp-items="Model.Groups">
            <option value="">All</option>
        </select>
        Surname: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students![0].NameStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students![0].SurnameStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students![0].YearOfStudy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students![0].IdGroupNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurnameStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfStudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGroupNavigation.NameGroup)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStudent">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdStudent">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStudent">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
