@model IEnumerable<CollegeWebApplication.Models.Teacher>

@{
    ViewData["Title"] = "Index";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-... (the actual integrity hash)" crossorigin="anonymous" />

<h1>Teachers</h1>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameTeahcer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurnameTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameTeahcer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurnameTeacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdTeacher"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdTeacher"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdTeacher"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
