@model IEnumerable<CollegeWebApplication.Models.Teacher>

@{
    ViewData["Title"] = "Index";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<h1>Index</h1>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameTeahcer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurnameTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameTeahcer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurnameTeacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTeacher">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTeacher">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTeacher">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
